* {
    margin: 0;
}

.App
{
    height: 100dvh;
    width: 100dvw;

    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu
{
    width: 680px;
    height: 696px;
    background-repeat: no-repeat;
}